/* Core */
*,
*:before,
*:after { box-sizing: border-box; }

:root {
  font-family: 'Quicksand', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #242424;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --main-bg: #ffffff;
  --secondary-bg: #f1f1f1;
  --modal-bg: #2d2f36;
  --text-body: #000000;
  --accent: #a01818;
  --link: #a01818;
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  /* Spacing */
  --base-spacing: 0.8rem;
  --xs-spacing: 1.6rem;
}

html { font-size: 62.5%; }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
  font-weight: 500;
}

/* Typography */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1.6rem 0;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: underline;

  &:hover { color: var(--text-body); }
}

ul {
  list-style: none;
  padding: 0;

  li { display: inline-block; }
}

/* Layout */
nav,
main { height: 100vh; }

nav {
  width: 40%;
  padding: 1.6rem;
  background-color: var(--secondary-bg);
}

main {
  width: 60%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  nav  { width: 30%; }
  main { width: 70%; }
}

@media (min-width: 1400px) {
  nav  { width: 25%; }
  main { width: 75%; }
}

/* Left Rail */
.left-rail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-links {
  padding: var(--base-spacing);
  display: flex;
  justify-content: space-between;
  list-style: none;

  img { height: 3.2rem; }
}

/* Main Content */
.nav-tabs {
  margin: 0;
  padding: 1.6rem 1.6rem 0 1.6rem;
  box-shadow: inset 0px -4px 6px rgba(0, 0, 0, 0.1);

  .tab-control {
    border: none;
    border-top: 0.2rem solid var(--link);
    border-radius: 0.4rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    color: var(--text-body);
    background-color: rgba(255, 255, 255, 0.7);
    padding: var(--base-spacing) 1.6rem;

    &.active {
      background-color: var(--main-bg);
      box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  li + li { margin-left: 0.4rem; }
}

.tab-content { display: none; }

.tab-content.active {
  display: block;
  padding: var(--base-spacing);
}

.tabs,
details { padding: var(--base-spacing); }

.filters,
.modal .content  {
  padding: var(--base-spacing);
  display: flex;

  & > div + div { margin-left: 2.4rem; }

  .categories {
    display: inline-block;
    vertical-align: top;

    & + .categories { margin-left: var(--base-spacing); }
  }
}

[class*='artpiece-'] {
  display: inline-block;
  padding: var(--base-spacing);

  &,
  img { height: 21rem; }
}

.pagination-controller {
  padding: var(--base-spacing);

  .tab-control,
  .pagination-control {
    padding: var(--base-spacing);
    border-radius: 0.4rem;
    cursor: pointer;
  }
}


/* Modal

/* The Modal (background) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--base-spacing);
  background: rgba(var(--black), 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
 /*  width: 100%; Full width */
 /* height: 100%;  Full height */
}
/* Modal Content */
.modal-content {
  display: flex;

  &,
  div { margin: var(--base-spacing);}
  img {max-height: 50vh;}
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--main-bg);
  overflow: auto;
  cursor: default;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--xs-spacing);
  background-color: var(--secondary-bg);
}

.modal-header .close-modal {
  color: var(--link);
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}


