/* Core */
*,
*:before,
*:after { box-sizing: border-box; }

:root {
  font-family: 'Quicksand', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --main-bg: #282a31;
  --secondary-bg: #14151a;
  --tertiary-bg: #202229;
  --modal-bg: #2d2f36;
  --text-body: #d4d4d6;
  --link: #DE7826;

  @media (prefers-color-scheme: light) {
    --main-bg: #ffffff;
    --secondary-bg: #f1f1f1;
    --tertiary-bg: #fbfbfb;
    --modal-bg: #2d2f36;
    --text-body: #000000;
    --link: #a01818;
  }

  --white: 255, 255, 255;
  --black: 0, 0, 0;

  color: var(--text-body);
  background-color: var(--main-bg);

  /* Spacing */
  --base-spacing: .8rem;
  --xs-spacing: 1.6rem;

  /* Grid */
  --columns: 1;
  --rows: 6;
}

html { font-size: 62.5%; }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
  font-weight: 500;
}

/* Typography */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1.6rem 0;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: underline;

  &:hover { color: var(--text-body); }
}

button {
  font-family: inherit;
  font-size: 1.6rem;
  color: rgba(var(--white));
  padding: var(--base-spacing);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li { display: inline-block; }
}

/* Layout */
main,
aside  { height: 100vh; }

footer {
  width: 100%;
  margin: var(--xs-spacing) auto;
}

aside {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--xs-spacing);
  background-color: var(--secondary-bg);
}

main {
  width: 60%;
  overflow-y: auto;
  box-shadow: 0 0 1rem rgba(var(--black), .1);
}

/* Left Rail Content */
.social-links {
  padding: var(--base-spacing);
  display: flex;
  justify-content: space-between;
  list-style: none;

  img { height: 3.2rem; }
}

/* Main Content */
.nav-tabs {
  /* padding: 1.6rem 1.6rem 0 1.6rem; */
  box-shadow: inset 0 -.5rem .6rem rgba(var(--black) .1);
  background-color: var(--tertiary-bg);
  display: flex;

  li { width: 50%; }

  .tab-control {
    border: none;
    border-top: .2rem solid var(--tertiary-bg);
    border-radius: 0;
    cursor: pointer;
    color: var(--text-body);
    font-weight: 600;
    font-size: 1.6rem;
    background-color: var(--tertiary-bg);
    padding: var(--xs-spacing);
    width: 100%;
    opacity: .8;

    &.active {
      background-color: var(--main-bg);
      box-shadow: 0 -.5rem .5rem rgba(var(--black), .1);
      border-top: .2rem solid var(--link);
      opacity: 1;
    }
  }
}

.tab-content        { display: none; }
.tab-content.active { display: block; }

details,
.filters,
.pagination,
.modal .content,
.tab-content.active { padding: var(--base-spacing); }

.filters,
.modal .content  {
  display: flex;

  & > div + div { margin-left: 2.4rem; }

  .categories {
    display: inline-block;
    vertical-align: top;

    & + .categories { margin-left: var(--base-spacing); }
  }
}

[class*='artpiece-'] {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  /* align-items: end; */
  width: min-content;
  padding: var(--base-spacing);

  &,
  img { height: 21rem; }

  * {
    grid-column-start: 1;
    grid-column-end: span var(--columns);
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.open-modal {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  span {
    background: rgba(var(--black), .7);
    border: none;
    padding: var(--base-spacing);
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:hover span,
  &:focus-visible span {
    background: rgba(var(--black), 1);
    text-decoration: underline;
  }
}

/* Hides the modal button on the sketches page */
.art-list-sketches .open-modal { display: none; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--base-spacing);

  li {
    padding: var(--base-spacing);
    border-radius: .4rem;
    cursor: pointer;
    button { font-size: 4rem; }

    button {
      padding: 0 var(--base-spacing)var(--base-spacing);
      color: var(--link);
      margin: 0;
      background: none;
      border: none;

      &:hover,
      &:focus-visible {
        color: var(--text-body);
        text-decoration: underline;
      }
    }
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--base-spacing);
  background: rgba(var(--black), .8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease-in;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;

  &,
  div { margin: var(--base-spacing);}
  img {max-height: 50vh;}
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: .4rem;
  background: var(--main-bg);
  overflow: auto;
  cursor: default;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--xs-spacing);
  background-color: var(--tertiary-bg);
}

.modal-header .close-modal {
  color: var(--link);
  float: right;
  font-size: 4.2rem;
  background: none;
  border: .1rem solid transparent;
  cursor: pointer;
  padding: 0 var(--base-spacing);

  &:hover,
  &:focus-visible {
    color: var(--text-body);
  }
}

/* Responsive */
@media (min-width: 1000px) {
  aside  { width: 30%; }
  main   { width: 70%; }
}

@media (min-width: 1400px) {
  aside  { width: 25%; }
  main   { width: 75%; }
}

@media (min-width: 768.02px) {
  .mobile-only { display: none; }
}

@media (max-width: 768px) {
  body          { display: block; }
  aside,
  main          { height: unset; }
  aside         { width: 100%; }
  .nav-tabs     { background-color: var(--secondary-bg); }
  .desktop-only { display: none; }

  main   {
    width: 100%;
    box-shadow: none;
  }

  .social-links {
    width: 80%;
    margin-inline: auto;
  }

  [class*='art-list'] li { width: 50%; }

  [class*='artpiece-'] {
    &,
    img {
      height: auto;
      width: 100%;
    }
  }
}

@media (max-width: 580px) {
  [class*='art-list'] li { width: 100%; }
}



@media (prefers-color-scheme: dark) {
  .social-links .filter-black {
    -webkit-filter: brightness(100%) saturate(100%);
    filter: brightness(100%) saturate(100%);
    /* background-color: white; */
  }
}